<!-- CTA SECTION-->
<section class="footer bg-map pb-0">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center">
                    <h2 class="text-white">Join The Thousands of Companies Using Simulation</h2>
                    <div class="row justify-content-center mt-5">
                        <div class="col-lg-6 col-md-8">
                            <div class="position-relative cta-search rounded-pill">
                                <input type="email" class="form-control rounded-pill" placeholder="you@email.com">
                                <button type="submit" class="btn btn-primary text-uppercase rounded-pill">Get
                                    Started</button>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end text-center -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
   
    <div class=" mt-5">
        <div class="container">
            <div class="row py-5">
                <div class="col-lg-3">
                   <a class="navbar-brand fw-bold fs-20 text-white" href="#">
                     Simulation
                    </a>
                    <p class="text-white-50"> One place for all your solutions</p>
                    <div class="footer-icon d-flex text-white-50">
                        <div class="avatar rounded-circle me-2">
                            <i class=" mdi mdi-facebook fs-20"></i>
                        </div>
                        <div class="avatar rounded-circle me-2">
                            <i class=" mdi mdi-instagram fs-20"></i>
                        </div>
                        <div class="avatar rounded-circle me-2">
                            <i class=" mdi mdi-twitter fs-20"></i>
                        </div>
                        <div class="avatar rounded-circle">
                            <i class=" mdi mdi-youtube fs-20"></i>
                        </div>
                    </div>
                </div>
   
                <div class="col-lg-3 mt-5 mt-lg-0">
                    <h5 class="text-white">Customer</h5>
                    <ul class="list-unstyled footer-list mt-4">
                        <li class="mt-2"><a href="javascript:void(0)" class="text-white-50"><i
                                    class="mdi mdi-chevron-right me-1"></i>About us</a></li>
                        <li class="mt-2"><a href="https://api.whatsapp.com/send?phone=917974291753&text=Hi%2C%20I%20want%20to%20know%20more%20about%20Simulation" class="text-white-50"><i
                                    class="mdi mdi-chevron-right me-1"></i>Contact us</a></li>
                        <li class="mt-2"><a href="javascript:void(0)" class="text-white-50"><i
                                    class="mdi mdi-chevron-right me-1"></i>Terms & Services</a></li>
                        <li class="mt-2"><a href="javascript:void(0)" class="text-white-50"><i
                                    class="mdi mdi-chevron-right me-1"></i>Privacy Policy</a></li>
                    </ul>
                </div>
   
                <div class="col-lg-3 mt-5 mt-lg-0">
                    <h5 class="text-white">Resources</h5>
                    <ul class="list-unstyled footer-list mt-4">
                        <li class="mt-2"><a href="javascript:void(0)" class="text-white-50"><i
                                    class="mdi mdi-chevron-right me-1"></i>Form validation</a></li>
                        <!-- <li class="mt-2"><a href="javascript:void(0)" class="text-white-50"><i
                                    class="mdi mdi-chevron-right me-1"></i>Pricing</a></li> -->
                        <li class="mt-2"><a href="javascript:void(0)" class="text-white-50"><i
                                    class="mdi mdi-chevron-right me-1"></i>Terms & Conditions</a></li>
                        <li class="mt-2"><a href="javascript:void(0)" class="text-white-50"><i
                                    class="mdi mdi-chevron-right me-1"></i>Marketplace</a></li>
                    </ul>
                </div>
   
                <div class="col-lg-3 mt-5 mt-lg-0">
                    <div class="contact">
                        <h5 class="text-white mb-3">Contact</h5>
                        <div class="d-flex align-items-center mb-2">
                            <i class="mdi mdi-phone fs-20 me-3 text-primary"></i>
                            <a href="#" class="text-white-50">+91 845268985</a>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                            <i class="mdi mdi-google-maps fs-20 me-3 text-primary"></i>
                            <a href="#" class="text-white-50">201 Oak Street 27 Manchester, USA</a>
                        </div>
                        <div class="d-flex align-items-center">
                            <i class="mdi mdi-gmail fs-20 me-3 text-primary"></i>
                            <a href="#" class="text-white-50">Scoticbrand@gmail.com</a>
                        </div>
                    </div>
                </div>
   
            </div>
            <!-- end row -->
   
            <div class="footer-alt text-center">
                <div class="copyrights-message text-center">
                    <span class="text-white-50">Copyright ©
                        <script>document.write(new Date().getFullYear())</script>
                    </span> <a class="text-white" href="#">Simulation.</a> <i
                        class="mdi mdi-heart text-danger"></i> <span class="text-white-50">All Rights
                        Reserved.</span>
                </div>
            </div>
        </div>
    </div>
   
   </section>
   <!-- end cta -->