 <!-- START NAVBAR -->
 <nav class="navbar navbar-expand-lg navbar-custom sticky sticky-light fixed-top top-0 border-bottom border-white-50"
 id="navbar">
 <div class="container">

     <!-- LOGO -->
     <a class="navbar-brand logo text-uppercase fw-bold fs-24 text-logo" href="#">
        <img src="assets/Solana_logo.png" style="width: 40px;" alt="" srcset=""> Simulation
     </a>

     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
         aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
         <span class="mdi mdi-menu"></span>
     </button>

     <div class="collapse navbar-collapse" id="navbarCollapse">
         <ul class="navbar-nav ms-auto" id="navbar-navlist">
             <li class="nav-item">
                 <a class="nav-link" href="#home">Home</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#Platforms">Platforms</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#services">Services</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#work">Work</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#client">Clients</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#team">Team</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#blog">Blog</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#contact">Contact</a>
             </li>
             <li *ngIf="username" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="badge rounded-pinn bg-primary text-white">{{avatar}}</span> | {{username}} 
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item dark" href="javascript:void(0)" (click)="logout()">Logout</a></li>
                </ul>
             </li>
         </ul>

     </div>
 </div>
</nav>
<!-- END NAVBAR -->