<div class="bg-light container-fluid signin">
    <form action="" class="w-25">
        <h5 class="text-center">Signin <img src="assets/Solana_logo.png" style="width: 40px;" alt="" srcset=""> Simulation</h5>
        <input type="text" class="form-control mt-2" name="data" placeholder="Username" [(ngModel)]="email">
        <input type="password" class="form-control mt-2" name="data" placeholder="Password" [(ngModel)]="password">
        <button class="btn btn-outline-primary mt-3 rounded-pill w-100" (click)="login()">Login</button>
        <p class="text-center mt-3">Didn't Have An Account? <span class="text-primary pointer" [routerLink]="'/signup'">Signup</span></p>
    </form>
</div>